[Unit]
Description=Node.js Web Application
After=network.target
After=amazon-ssm-agent.service

[Service]
WorkingDirectory=/home/ec2-user/webapp
ExecStart=/home/ec2-user/.nvm/versions/node/v16.17.1/bin/node /home/ec2-user/webapp/server.js
EnvironmentFile=/home/ec2-user/webapp/.env
Restart=always
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target
